
/***************************/
/*       Main elements     */
/***************************/

html {
	font-family: 'Iowan Old Style';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Avenir';
	font-weight: 700;
}
p {
	padding-left: 0em;
}
p.first {
	text-indent: -1em ;
}
body {
	width: 40%; /* this changes the overall width of the entire page */
	margin: 0 auto;
}


/***************************/
/*       Menu Buttons      */
/***************************/
.menu li {
	display: inline-block;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
	background: #42659A;
	padding: 0.5em;
}
li a {
	color: whitesmoke;
	text-decoration: none;
	font-family: Avenir;
}


/***************************/
/*          Corpus         */
/***************************/

/* Make everything in-line. */
div {
	display: inline;
}

/* The verse numbers should be larger. */
.verseNum {
	font-size: 18pt;
}
/* Add some space after the verse numbers */

.verseNum:after {
	content: "  ";
}

.root {
	/* text-decoration: underline; */
	border-bottom: 1px dotted black
}
.root:hover {
	background-color: lightblue;
}
/* Tooltip text */
.tooltiptext {
    visibility: hidden;

    background-color: #42659A;
    color: whitesmoke;
	font-family: Avenir;
    text-align: center;

	width: 120px;
	padding: 5px 0;
    border-radius: 6px;

    position: absolute;
	z-index: 2;
}

.root:hover .tooltiptext {
    visibility: visible;
}

/* Color of the words */
.word, .root, .known, .function, .proper {
	color: black;
}
.unknown {
	color: blue;
}


/***************************/
/*        Dictionary       */
/***************************/

.entry, .subentry, .compound {
	list-style-type: none;
	padding-bottom: 1em;
}

.subentry, .compound {
	padding-left: 1em;
}
.subentry:before, .compound:before {
	content: "→";
}
.headword {
	font-family: Avenir;
	font-size: 18pt;
}
.lexical {
	font-size: 8pt;
	font-style: italic;
}
.etymology, .definition, .forms, .notes, .examples {
	display: block;
	padding-left: 1em;
}
/* Put a space before the definition, but only if there's an etymology before it */
.etymology ~ .definition {
	padding-top: 0.5em;
}
.etymology::before {
	content: "Etymology: ";
	font-weight: bold;
}
.forms {
	padding-top: 0.5em;
	font-style: italic;
}
.forms:before {
	content: "Wordforms: ";
	font-style: normal;
	font-weight: bold;
}
.notes:before {
	content: "Notes: ";
}

.parents, .children {
	display: none;
}

.examples {
	padding-top: 0.5em;
}
.ref {
	padding-top: 0.5em;
	display: block;
}
.gua, .eng {
	display: block;
}
