
/*
Dark blue:  #132A45
Light blue: #376092
Black:      #132A45

Green:  #287B43
Purple: #67287B
Red:    #924630
Yellow: #928E33
*/

/*
@font-face {
	font-family: "Iowan Old Style";
	src: url("myFont.ttf");
  }
  */

html {
	background: whitesmoke;
}

/* For older browsers */
aside, article, section, header, footer, nav {
	display: block;
}

/* CSS reset */
div, h1, h2, h3, p, img, nav, ul, li, header, time, article, a {
	margin: 0;
	padding: 0;
}

/* Add border for debugging
header, nav, body, aside, footer, h1, h2, p, ul, li, time, a {
	border: 1px solid #376092;
	border-radius: 7pt;
}


/* ########################################## */
/*                 Global Styles              */
/* ########################################## */

/* The overal grid */
body {
	width: 960px;
	margin: 0 auto;
	font: 110% 'Iowan Old Style', 'Crimson Text', Georgia, serif;
	color:red;
}

h1, h2, h3, li, footer p, .biglink {
	font-family: 'Avenir', 'Muli', 'Helvetica Narrow', Arial, sans-serif;
}

h1, h2, h3 {
	line-height: 1.2;
	color: #132A45;
	margin-bottom: 0.2em;
	font-weight: 500;
}

h1 {
	font-size: 2em;	
}
h2 {
	font-size: 1.5em;	
}
h3 {
	font-size: 1.25em;
}


/* ########################################## */
/*                 Header Styles              */
/* ########################################## */

header, footer {
	display: block;
	margin: 4px;
	padding: 5px;
	text-align: middle;
	min-width: 800px;
}

#name, #name a, #tagline {
	line-height: 100px;
	/* line-height: 50px;  Changes to 100px in computers */

	color: #132A45;
	clear: none;
	/* clear: both;  Changes to "none" in computers */

	float: left;
	/* In computers only, gets "float: left" */
}

#name {
	font-size: 3em;
	font-weight: 700;

	margin-right: 0.75em;

	font-variant: small-caps;
	letter-spacing:.05em;
}

#tagline {
	font-size: 1.4em;
	font-style: italic;
	font-weight: normal;
	
	text-transform: lowercase;
	letter-spacing:.1em;
}

/* Add this back in later 
/* Tablets
@media only screen and (min-width: 600px) {
	body {
		width: 90%;
	}
}

/* Computers
@media only screen and (min-width: 960px) {
	body {
		width: 960px;
	}
	#name, #tagline {
		float: left;
		clear: none;
		line-height: 100px;
	}
}

*/

/* ########################################## */
/*                Navigation Styles           */
/* ########################################## */


nav ul, aside ul {
	/* Get rid of the bullet points */
	list-style: none;
	width: 100%;
}

#mainNav, #recents {
	overflow: auto;
	margin-bottom: 1em;
	clear: left;
	display: flex;
}

/* Flex stuff */
#mainNav {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

#recents {
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}


#mainNav li, #recents li {
	float: left;
	margin-right: 1%;
	background-color: #376092;
	border: 0px solid #376092;
	border-radius: 7pt;
}

#recents li {
	margin-top: 5px;
}

#mainNav a, #recents a {
	display: block;
	color: whitesmoke;
	border: none;
	font-size: 1.2em;
	text-align: center;
	padding: 0.25em 0.5em;
	border: 0px solid black;
	border-radius: 7pt;
}

#mainNav a:hover, #recents a:hover  {
	background-color: #132A45;
}

#mainNav a em {
	font-size: .6em;
	display: block;
}

/* ########################################## */
/*                  Link Styles               */
/* ########################################## */

a {
	line-height: inherit;
	text-decoration: none;
}
a, a:visited {
	color: #376092;
}
a:hover {
	color: #132A45;
}

/* In-text links */
p a, p a:visited {
	color: black;
}
p a:hover {
	color: #376092
}
p a:after {
	content: 'º';
	color: #132A45;
}

/* Override styles */
.nodot:after {
	content: '';
	color: #376092
}

.biglink a {
	float: right;
	color: whitesmoke;
	background: #376092;
	border: 0px solid 376092;
	border-radius: 7pt;
	padding: 0.25em 0.5em;
	margin: 0.5em 1em;
	text-align: center;
}

.biglink a:hover  {
	background-color: #132A45;
}


/* ########################################## */
/*                  Main Styles               */
/* ########################################## */

/* The box that contains the nav, article, and aside */
#main {
	margin: 0px;
    padding: 0px;
    display: flex; /* Since the flex items are contained in this, this is what gets this property. https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_CSS_flexible_boxes*/
    flex-flow: row;
}

/* The center box */
#main > article {
	margin: 4px;
	padding: 5px;

	/* This is inside the main flex elnoement, so it gets this property so it can be flexed. */
	flex: 3 1 60%;
	order: 2;
}

/* The main aside box */
#main > aside {
	margin: 4px;
	padding: 5px;
	margin-left: 1em;

	/* This is inside the main flex element, so it gets this property so it can be flexed. */
	flex: 1 6 20%;
	order: 3;
}

#research {
	width: 100%;
	margin: auto;
}

p {
	font: 110% 'Iowan Old Style', 'Crimson Text', Georgia, serif;
	text-align: justify;
	line-height: 1.4em;
	font-size: 110%;
	margin-bottom: 1em;
}

/* ########################################## */
/*                  Aside Styles              */
/* ########################################## */

/* For the recents section, these are formatted the same way as the buttons in the navigation pane. */

aside img {
	border: 0px solid #376092;
	border-radius: 7pt;
}

#socialMedia {
	display: flex;
	justify-content: space-around;
	padding-top: 1em;
	padding-bottom: 1em;
}
#socialMedia a {
	text-indent: -9000em;
	display: inline-block;
	width: 32px;
	height: 32px;
}
#github {
	background: url(../images/icons/github.svg) no-repeat;
}
#fb {
	background: url(../images/icons/facebook.svg) no-repeat;
}
#linked {
	background: url(../images/icons/linkedin.svg) no-repeat;
}
#twitter {
	background: url(../images/icons/twitter.svg) no-repeat;
}
#academia {
	background: url(../images/icons/academia.svg) no-repeat;
}
#googleScholar {
	background: url(../images/icons/google.svg) no-repeat;
}

#mainAside p {
	font-size: 90%;
	font-style: italic;
	text-align: center;
	margin-top: 2em;
}

.blog-index {
	margin-top: 3em;
}

.blog-index h2  {
	text-align: center;
}

.entry-content {
	font-size: 90%;
	text-align: justify;
}


/* ########################################## */
/*                  Research                  */
/* ########################################## */

.research {
	overflow: auto;
}

.research h2 {
	padding-top: 2em;
	clear: both;
}

.research img {
	float: right;
	width: 20%;
	border: 0px solid #376092;
	border-radius: 7pt;
}

.research p {
	float: left;
	width: 75%;
}

/* ########################################## */
/*                  CV Styles                 */
/* ########################################## */

#cv {
	width: 75%;
	margin: auto;
}

#updated {
	font-size: 14px;
	font-weight: 300;
	clear: both;
}

#cv h2 {
	font-variant: small-caps;
	letter-spacing:.05em;
	font-weight: 500;
	margin-top: 2em;
}

#cv h3 {
	margin-top: 2em;
	font-style: italic;
	font-weight: 300;
}


/* Add icons to the CV link types */
a.paper:after {
	content: url('/images/icons/paper.png');
}
a.abstract:after {
	content: url('/images/icons/paper.png');
}
a.slides:after {
	content: url('/images/icons/presentation.png');
}
a.poster:after {
	content: url('/images/icons/presentation.png');
}
a.video:after {
	content: url('/images/icons/video.png');
}
a.flyer:after {
	content: url('/images/icons/flyer.png');
}
a.link:after {
	content: url('/images/icons/link.png');
}
a.audio:after {
	content: url('/images/icons/audio.png');
}


/* ########################################## */
/*              TOC Resources                 */
/* ########################################## */

.toc-entry {
	list-style: none;
}

.toc-h1 a {
	display: none;
}

.toc-h2 a {
	font-size: 120%;
}

.toc-h3 a {
	font-size: 100%;
	margin-left: 1em;
}


/* ########################################## */
/*                    Blog                    */
/* ########################################## */

#blog article {
	border-bottom: 1.5px solid grey;
	margin: 2em 0;
	overflow: auto;
}

/* The date of each blog post */
#blog time {
	clear: left;
	float: left;
	padding: 1em 5px;
	width: 80px;
	text-align: center;
	background: #376092;
	color: whitesmoke;
	border: 1px solid #376092;
	border-radius: 50%;
}

/* The titles of each blog post */
#blog h2 {
	margin-left: 120px;
	clear: right;
}

#blog a {
	color: #376092;
}

.posted_in, .excerpt {
	margin-left: 120px;
}

.posted_in {
	font-size: 80%;
}

/* The "Read more" after each post */
.more {
	padding: 5px 0;
	float: right;
}
.more:before {
	content: "["
}
.more:after {
	content: "]"
}

/* ########################################## */
/*                    Tags                    */
/* ########################################## */

aside#tags {
	text-align: right;	
}

#tags a {
	color: #376092;
}

/* ########################################## */
/*                  Archive                   */
/* ########################################## */

#tags h2 {
	background-image: url("");
	margin-top: 1em;
}

.taglist {
	list-style: none;
	/* Gets rid of the social backgrounds */
	background-image: url("");
}

.taglist li {
	margin-left: 1em;
}

.taglist time {
	font-size: 75%;
	margin-left: 0.5em;
}


/* ########################################## */
/*                 Blog post                  */
/* ########################################## */

.posts {
	width: 75%;
}

/* Center images and tweets */
.posts img, .twitter-tweet {
	display: block;
    margin: 0 auto;
}

.posts footer {
	background: whitesmoke;
	border-top: 1px solid black;
}

.posts footer p {
	padding-top: 1em;
	text-align: center;
	color: black;
}

.prevLink {
	float: left;
}

.prevLink:before {
	content: '\00ab\00a0';
}

.nextLink {
	float: right;
}

.nextLink:after {
	content: '\00a0\00bb';
}

/* ########################################## */
/*                 Other pages                */
/* ########################################## */

img.rounded {
	border: 0px solid #376092;
	border-radius: 7pt;
	width: 80%;
}

/* ########################################## */
/*                 Footer Styles              */
/* ########################################## */

footer {
	background-color: #376092;
	vertical-align: middle;
	clear: both;
	margin-top: 2em;
}

footer p {
	color: whitesmoke;
	font-size: 0.75em;
	text-align: center;
}

/* Make the very bottom footer with rounded corners */
footer.bottom {
	border: 0px solid #376092;
	border-radius: 7pt;
}