<header id="pageHeader">
    <div id="name"><a href="/index" title="joeystanley.com">{{site.title}}</a></div>
    <div id="tagline">{{site.tagline}}</div>
    <nav id="mainNav">
        <ul>
            <li><a href="/index" title="About Me">About Me <em>who am I?</em></a></li>
            <li><a href="/cv" title="CV">CV <em>what have I done?</em></a></li>
            <li><a href="/research" title="Research">Research <em>what am I working on?</em></a></li>
            <li><a href="/teaching" title="Teaching">Teaching <em>what do I teach?</em></a></li>
            <li><a href="/resources" title="Resources">Resources <em>what stuff do I use?</em></a></li>
            <li><a href="/blog/index" title="News">News <em>what's going on?</em></a></li>
            <!--/*<li><a href="/data" title="Data">Data <em>want sample data?</em></a></li>-->
            <!--<li><a href="/data" title="Data" class="halfnav"><em>Data</em></a></li>-->
            <!--<li><a href="/index" title="Index" class="halfnav"><em>Index</em></a></li>-->
        </ul>
    </nav>
</header>