<header id="pageHeader">
    <div id="name"><a href="/index" title="joeystanley.com">{{site.title}}</a></div>
    <div id="tagline">{{site.tagline}}</div>
    <nav id="mainNav">
        <div><a href="/index" title="About Me">About Me <em>who am I?</em></a></div>
        <div><a href="/cv" title="CV">CV <em>what have I done?</em></a></div>
        <div><a href="/research" title="Research">Research <em>what am I working on?</em></a></div>
        <div><a href="/teaching" title="Teaching">Teaching <em>what do I teach?</em></a></div>
        <div><a href="/resources" title="Resources">Resources <em>what stuff do I use?</em></a></div>
        <div><a href="/blog/index" title="News">News <em>what's going on?</em></a></div>
    </nav>
</header>