<header id="pageHeader">
    <h1 id="name"><a href="/index.html" title="joeystanley.com">{{site.title}}</a></h1>
    <h2 id="tagline">{{site.tagline}}</h2>
    <nav id="mainNav">
        <ul>
            <li><a href="/index.html" title="About Me">About Me <em>who am I?</em></a></li>
            <li><a href="/cv.html" title="CV">CV <em>what have I done?</em></a></li>
            <li><a href="/research.html" title="Research">Research <em>what am I working on?</em></a></li>
            <li><a href="/teaching.html" title="Teachng">Teaching <em>what do I teach?</em></a></li>
            <li><a href="/resources/index.html" title="Resources">Resources <em>what stuff do I use?</em></a></li>
            <li><a href="/blog/index.html" title="News">News <em>what's happened recently?</em></a></li>
        </ul>
    </nav>
</header>