
<!--Create a sorted array of tags-->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign sortedTags = site_tags | split:',' | sort %}
<aside>
    <h3>Archives</h3>
    <ul class="archives">
        <li><a href="/tags/">All posts</a></li>
        {% for tag in sortedTags %}
            <!-- Note: with the default site, each of these links was prefixed with {{site.baseurl}}, but the new domain name can't have that. -->
            <li><a href="/tags/#{{ tag | cgi_escape }}">{{ tag }} ({{ site.tags[tag].size }})</a></li>
        {% endfor %}
    </ul>
</aside>

