---
layout: skeleton
---

<div id='main'>
  <article>
    {{ content | toc }}
  </article>
  <aside id="mainAside">
    <img src="/images/joey.jpeg" width="200" height="200" alt="My picture">
    <ul id="socialMedia">
        <li><a href="mailto:joeystan@uga.edu" title="email" id="email">email</a></li>
        <li><a href="https://twitter.com/joey_stan" title="twitter" id="twitter">Twitter</a></li>
        <li><a href="https://github.com/JoeyStanley" title="Github" id="github">Github</a></li>
        <li><a href="https://scholar.google.com/citations?user=61pJV_YAAAAJ&hl=en&oi=sra" title="Google Scholar" id="googleScholar">Google Scholar</a></li>
        <li><a href="{{ root_url }}/feed.xml" id="feed">Subscribe</a></li>
        <i class="ai ai-google-scholar-square ai-3x"></i>
    </ul>
    <p>Recent presentations…</p>
    <ul id="recents">
        <li><a href="/blog/ads-and-lsa-2019.html" title="LSA/ADS 2019">LSA/ADS 2019</a></li>
        <li><a href="/blog/nwav47.html" title="NWAV47">NWAV47</a></li>
        <li><a href="/blog/lcuga5.html" title="LCUGA5">LCUGA5</a></li>
        <li><a href="/pages/r-workshops.html" title="R Workshops">R Workshops</a></li>
    </ul>
    <div class="blog-index">  
        <p>From my latest blog post…</p>
        {% assign post = site.posts.first %}
        {% assign content = post.content %}
        <h2 class="entry-title">
            {% if post.title %}
                <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
            {% endif %}
        </h2>
        <div class="entry-content">{{post.excerpt | strip_html}} <a href="{{post.url}}" title="read more" class="more">Read more</a></div>
    </div>
    <br/>
    <br/>
    <div class="icon-credit">Icon credits: <img src='/images/icons/email.svg' height="10"/> 
        by <a href="https://www.flaticon.com/authors/yannick" title="Yannick">Yannick</a>,<img src='/images/icons/scholar.svg' height="10"/> by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, and both <img src='/images/icons/twitter.svg' height="10"/> and <img src='/images/icons/rss.svg' height="10"/> by 
        <a href="https://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>  from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>. All are   licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.</div>
  </aside>
</div>
