---
layout: skeleton
---

<div id='main'>
  <article>
    {{ content | toc }}
  </article>
  <aside id="mainAside">
    <img src="/images/joey.jpeg" width="200" height="200" alt="My picture">
    <ul id="socialMedia">
        <li><a href="https://twitter.com/joey_stan" title="twitter" id="twitter">Twitter</a></li>
        <li><a href="https://github.com/JoeyStanley" title="Github" id="github">Github</a></li>
        <li><a href="https://scholar.google.com/citations?user=61pJV_YAAAAJ&hl=en&oi=sra" title="Google Scholar" id="googleScholar">Google Scholar</a></li>
        <li><a href="{{ root_url }}/feed.xml" id="feed">Subscribe</a></li>
        <i class="ai ai-google-scholar-square ai-3x"></i>
    </ul>
    <p>Recent presentations…</p>
    <ul id="recents">
        <li><a href="/ads2018.html" title="ADS2018">ADS2018</a></li>
        <li><a href="/nwav46.html" title="NWAV46">NWAV46</a></li>
        <li><a href="/pages/r-workshops.html" title="R Workshops">R Workshops</a></li>
    </ul>
    <div class="blog-index">  
        <p>From my latest blog post…</p>
        {% assign post = site.posts.first %}
        {% assign content = post.content %}
        <h2 class="entry-title">
            {% if post.title %}
                <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
            {% endif %}
        </h2>
        <div class="entry-content">{{post.excerpt | strip_html}} <a href="{{post.url}}" title="read more" class="more">Read more</a></div>
    </div>
  </aside>
</div>
