---
layout: skeleton
---

<div id='main'>
  <article class="posts">
    <header>
      <h1>{{page.title}}</h1>
      <time class="date" itemprop="dateCreated" datetime="{{page.date}}">
      {{ page.date | date: "%B %-d, %Y" }}</time>
    </header>
    {{content}}
    {% include ko-fi.html %}
    <footer>
      <p>Posted in
        {% for tag in page.tags %}
          <a href="/tags/index.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag" class="nodot"a>{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}</p>
    </footer>
    <section class="post-links">
      {% if page.previous.url %}
        <p class="prevLink"><a class="previous nodot" href="{{page.previous.url}}">{{page.previous.title}}</a></p>
      {% endif %}
      {% if page.next.url %}
        <p class="nextLink"><a class="next nodot" href="{{page.next.url}}">{{page.next.title}}</a></p>
      {% endif %}
    </section>
  </article>
  {% include tags.html %}
</div>